.large-header {
	background-image: url('../img/stars.jpg');
	background-size: 100% 100%;

 	padding-left: 0 !important;
 	padding-right: 0 !important;

	background-image: url('../img/stars.jpg');

}

.large-header-mountains {
	background-image: url('../img/mountains.jpg');
	background-size: 100% 100%;

 	padding-left: 0 !important;
 	padding-right: 0 !important;

	background-image: url('../img/mountains.jpg');

}

.container-fluid {
    padding: 0;
}

.navbar-header {
	padding-left: 15px;
    padding-right: 15px;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.main-title {
	text-transform: uppercase;
	font-size: 70px;
	letter-spacing: 0.1em;
	font-family: "Times New Roman";
}

.main-title .thin {
	font-weight: 200;
	font-size: 20px;
	font-family: "Courier New"
}

.section-title {
	font-size: 50px;
	font-family: "Times New Roman";
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	color: white;

}

.section {
	background: navy;
	background-size: 100% 100%;
}

#profile {
	margin: 50px;
	width: 30%;
	height: 30%;
}
